@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

#navbar-default{
margin-top: 10%;
background-color: transparent;
}

@media screen and (max-width: 768px) {
    #navbar-default{
        padding: 20px;
        position: relative; 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        margin-left: 5%;
        width: 88vw;
        height: 35vh;
        background-color: aliceblue;
    }


    #navbar-default::after{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 20px solid transparent;
        border-bottom: 20px solid aliceblue;
        top: -20px; /*localização. Experimente alterar para 'bottom'*/
        left: 94%;
    }

    #navbar-default li a{
        color: rgb(63, 62, 62);
    }

    


    #li3 a span{
        background-color: yellow;
    }

}